<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Rating component</title>
	<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
	<div class="rating">
		<input type="button" class="vote" value="vote"/>
		<input type="radio" name="rate" class="star" value="5">
		<input type="radio" name="rate" class="star" value="4">
		<input type="radio" name="rate" class="star" value="3">
		<input type="radio" name="rate" class="star" value="2">
		<input type="radio" name="rate" class="star" value="1">
	</div>
</body>
</html>