.rating {
	--highlighted: orange;
	--active: orangered;
	--idle: gray;
	--colorTransDur: 0.3s;
	display: inline-block;
	padding: 0 0.5em 0.5em 0.2em;
}

.star {
	color: var(--idle);
	float: right;
	visibility: hidden;
	margin-left: 0;
	transition: color var(--colorTransDur) ease-out, transform 0.2s linear;
}

.star:before {
	visibility: visible;
	content: "★";
	font-size: 1.6em;
	transition: color var(--colorTransDur) ease-in-out;
}

.star:checked,
.star:checked ~ .star {
	color: var(--highlighted);
}

.star:hover {
	cursor: pointer;
	transform: translate(0, -0.2em);
}

.star:hover:before,
.star:hover ~ .star:before {
	color: var(--active);
}

.vote {
	float: right;
	margin: 0.1em 0 0 0.5em;
	font-size: 1.4em;
	color: var(--idle);
	background: rgba(0, 0, 0, 0.3);
	border: var(--idle) 0.05em solid;
	border-radius: 1em;
	padding: 0.1em 0.5em;
	transition: color var(--colorTransDur) ease-out, border-color var(--colorTransDur) ease-out, transform 0.1s linear;
}

.vote:active {
	transform: scale(0.9);
}

.vote:hover {
	cursor: pointer;
	color: var(--highlighted);
	border: var(--highlighted) 0.05em solid;
}

.vote:focus {
	outline: 0;
}